@import "src/scss/variables";
@import "src/scss/common";

.header {
  position: fixed;
  display: block;
  background: $translucentBlue;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  z-index: 5;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    position: relative;
    display: flex;
  }

  &__logo-link {
    position: relative;
    display: block;
    padding: 10px 20px 5px 0;
  }

  &__logo {
    position: relative;
    display: block;
    width: 140px;
    height: 50px;
    cursor: pointer;
  }

  &__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__link-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  &__link {
    position: relative;
    display: block;
    margin: 0 15px 0 0;
    font-size: 20px;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.5s;

    &:hover {
      color: #00ccff;
      padding: 0 0 5px 0;
    }
  }

  &__authentication-container {
    position: relative;
    display: flex;
  }

  &__profile-img {
    position: relative;
    display: block;
    padding: 5px 10px 0 0;

    img{
      border: 1px solid $white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    &:hover {
      img{
        border: 2px solid #62f7ff;
      }
    }
  }
}
