<div class="vertical-wrapper">
  <div class="horizontal-wrapper">

    <div class="hotel" *ngIf="!openRoomList; else roomListBlock">
      <div class="hotel__close">
        <div></div>
        <button
          class="button button-dark-red"
          [routerLink]="['/hotels']"
        >close
        </button>
      </div>
      <div class="hotel__title">
        <h1>{{hotelDto.name}}</h1>
        <button
          class="button button-orange"
          (click)="roomListBlockToggle()"
        >Rooms
        </button>
      </div>
      <div class="hotel__images">
        <h1>Images</h1>
      </div>
      <div class="hotel__description">
        <h1>Description</h1>
      </div>
    </div>

    <ng-template #roomListBlock>
      <app-room-list
        (onCloseRoomListBlock)="roomListBlockToggle()"
        [hotelId]="hotelDto.id"
      ></app-room-list>
    </ng-template>

  </div>
</div>

