<div class="vertical-wrapper">
  <div class="horizontal-wrapper">

    <div class="hotel-list">
      <div class="filter">
        <div class="filter__stars">
          <h2>Stars:</h2>
          <label *ngFor="let value of getCounter(3)">
            <span>{{value}}</span>
            <input type="checkbox" value="{{value}}" (input)="starsFilter($event)">
          </label>
        </div>
        <div class="filter__hasRestaurant">
          <h2>Restaurant:</h2>
          <label>
            <span></span>
            <input type="checkbox" value="true" (input)="restaurantFilter()">
          </label>
        </div>
        <div class="filter__hasPool">
          <h2>Pool:</h2>
          <label>
            <span></span>
            <input type="checkbox" value="true" (input)="poolFilter()">
          </label>
        </div>
      </div>

      <div class="hotel-list__items">
        <app-hotel-item
          *ngFor="let hotel of hotels"
          [hotelDto]="hotel"
        ></app-hotel-item>
      </div>
    </div>

  </div>
</div>
