@import "src/scss/variables";
@import "src/scss/common";

.room-list {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 80px;

  &-close {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: $white;
  }

  &-filters {
    position: relative;
    display: block;
    padding: 5px;
    width: 25%;

    .filter-types {
      position: relative;
      display: block;
      margin-bottom: 20px;
    }

    .filter-price {
      position: relative;
      display: block;
      margin-bottom: 20px;
    }
  }

  &-wrapper {
    position: relative;
    display: block;
    padding: 5px 5px 0 15px;
    width: 75%;
  }
}
