@import "src/scss/variables";
@import "src/scss/common";

.form {
  position: relative;
  display: inline-block;
  margin-right: 10px;

  h1 {
    color: $white;
    display: inline;
  }

  label {
    color: $white;
    font-size: 20px;
  }

  input {
    margin: 0 20px 0 10px;
    font-size: 20px;
    border-radius: 5px;
  }

  button {
    padding-bottom: 10px;
  }

  &-group {
    position: relative;
    display: inline-block;
    align-items: center;
  }

  &-control {
    position: relative;
    display: inline-block;
  }
}
