@import "src/scss/variables";
@import "src/scss/common";

.hotel-item {
  position: relative;
  display: flex;
  margin-bottom: 30px;

  &__image {
    position: relative;
    display: block;
    margin: 0 20px 0 0;

    img {
      border-radius: 10%;
      width: 300px;
      height: 200px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__info {
    position: relative;
    display: block;
    padding: 10px 5px 10px 10px;
    width: 100%;
  }

  &__stars {
    position: relative;
    display: block;
  }

  &__title {
    position: relative;
    display: flex;
    padding-top: 10px;

    h2 {
      color: $white;
      text-decoration: none;
      cursor: pointer;
      transition: color ease 0.2s;

      &:hover {
        color: #00ccff;
      }
    }
  }

  &__description {
    position: relative;
    display: block;
    padding-top: 10px;
  }

  &__facilities {
    position: relative;
    display: inline-flex;
    padding: 10px 0 0 0;

    img {
      height: 30px;
    }
  }

  &__facilities-item {
    position: relative;
    display: block;

    &:hover {
      transform: scale(1.1);
    }
  }
}
