@import "src/scss/variables";
@import "src/scss/common";

.hotel-item {
  position: relative;
  display: flex;
  margin-bottom: 30px;

  &-image {
    position: relative;
    display: block;
    margin: 0 20px 0 0;

    img {
      border-radius: 10%;
      width: 300px;
      height: 200px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &-info {
    position: relative;
    display: block;
    padding: 10px 5px 10px 10px;
    width: 100%;
  }

  &-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 15px 0;
  }

  &-title {
    position: relative;
    display: block;

    h2 {
      color: $white;
      text-decoration: none;
      cursor: pointer;
      transition: color ease 0.2s;

      &:hover {
        color: #00ccff;
      }
    }
  }

  &-stars {
    position: relative;
    display: block;
  }

  &-description {
    position: relative;
    display: block;
    height: 100px;
    overflow-y: auto;
  }

  &-facilities {
    position: relative;
    display: inline-flex;

    img {
      height: 30px;
    }
  }

  .facilities-item {
    position: relative;
    display: block;

    &:hover {
      transform: scale(1.1);
    }
  }
}
