<app-rent-room-form
  *ngIf="rentRoomFormOpen"
  (onSubmit)="rentRoom($event)"
></app-rent-room-form>

<div class="room" [ngStyle]="{filter: rentRoomFormOpen ? 'blur(5px)' : null}">
  <div class="room__close">
    <div></div>
    <div>
      <button
        class="button button-green"
        (click)="rentRoomFormOpen = !rentRoomFormOpen"
      >Rent
      </button>
      <button
        class="button button-dark-red"
        (click)="closeRoom()"
      >close
      </button>
    </div>

  </div>
  <div class="room__title">
    <h1>Number: {{roomDto.number}}</h1>
  </div>
  <div class="room__images">
    <h1>Images</h1>
  </div>
  <div class="room__description">
    <h1>Description</h1>
  </div>
</div>
