<div class="rent-message" *ngIf="successRentBlockOpen">
  <div class="rentSuccessBlock">
    <h3>Success: {{rentBlockMessage}}</h3>
  </div>
</div>

<div class="rent-message" *ngIf="errorRentBlockOpen">
  <div class="rentErrorBlock">
    <h3>Failed: {{rentBlockMessage}}</h3>
  </div>
</div>

<div class="room">


  <div class="room__close">
    <div></div>
    <div>
      <app-rent-room-form
        (onSubmit)="rentRoom($event)"
      ></app-rent-room-form>
      <button
        class="button button-dark-red"
        (click)="closeRoom()"
      >close
      </button>
    </div>
  </div>

  <div class="room__title">
    <h1>Number: {{roomDto.number}}</h1>
  </div>
  <div class="room__images">
    <h1>Images</h1>
  </div>
  <div class="room__description">
    <h1>Description</h1>
  </div>
</div>
