@import "src/scss/variables";
@import "src/scss/common";

.room {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 80px;
  text-align: left;
  color: $white;

  &__close {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    margin: 20px 0 10px 0;
  }

  &__images {
    position: relative;
    display: block;
    border: 1px solid white;
    margin: 0 0 10px 0;
  }

  &__description {
    position: relative;
    display: block;
    border: 1px solid white;
    margin: 0 0 10px 0;
  }
}

.rent-message {
  position: relative;
  display: block;
  float: right;
  width: 100%;

  .rentSuccessBlock {
    position: relative;
    display: block;
    float: right;
    padding: 5px;
    margin-top: 25px;
    color: #37ff00;
    border-radius: 5px;
    box-shadow: 0 0 white;
  }

  .rentErrorBlock {
    position: relative;
    display: block;
    float: right;
    padding: 5px;
    margin-top: 25px;
    color: #ff0000;
    border-radius: 5px;
    box-shadow: 0 0 white;
  }
}
