/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'common';

body {
  background: url("src/assets/images/home-page-background.jpg") center no-repeat fixed;
  background-size: cover;
  position: relative;
}
