@import "src/scss/variables";
@import "src/scss/common";

.main-info {
  position: relative;
  display: block;
  color: $white;
  padding-top: 80px;

  h1 {
    font-size: 38px;
    margin: 0 0 45px 0;
    white-space: normal;
    text-align: center;
  }

  h2 {
    font-weight: 300;
    text-align: center;
    margin: 0 0 30px 0;
  }

  &-welcome {

  }

  .users {
    color: #00ccff;
  }
}

