<div class="vertical-wrapper">
  <div class="horizontal-wrapper">

    <div class="main-info">
      <div class="main-info-welcome">
        <h1>Welcome to Hotel System!</h1>
        <h2>
          Well done! By registering, you have taken your first step toward a great hotels anywhere in the world.
        </h2>
        <h2>
          You can use already exists users:
        </h2>
      </div>

      <div class="users">
          <h2>User: [admin@gmail.com], pass: [admin]</h2>
          <h2>User: [user@gmail.com], pass: [user]</h2>
      </div>
    </div>
  </div>
</div>



